<div class="tw-flex tw-flex-col">
  <bit-section
    disableMargin
    class="tw-border-0 tw-border-b tw-border-solid tw-border-secondary-300"
  >
    <bit-section-header class="tw-bg-background">
      <div class="tw-flex tw-items-center">
        <bit-icon [icon]="Icons.BitwardenShield" class="tw-w-10 tw-mt-2 tw-ml-2"></bit-icon>

        <h2 bitTypography="h6">{{ "passkeyLogin" | i18n }}Log in with passkey?</h2>
      </div>
      <button
        type="button"
        bitIconButton="bwi-close"
        slot="end"
        class="tw-mb-4 tw-mr-2"
        (click)="closeModal()"
      >
        Close
      </button>
    </bit-section-header>
  </bit-section>

  <bit-section class="tw-bg-background-alt tw-p-4">
    <bit-item *ngFor="let c of ciphers" class="">
      <button type="button" bit-item-content (click)="confirmPasskey()">
        <app-vault-icon [cipher]="c" slot="start"></app-vault-icon>
        <button bitLink [title]="c.name" type="button">
          {{ c.name }}
        </button>
        <span slot="secondary">{{ c.subTitle }}</span>
        <span bitBadge slot="end">Select</span>
      </button>
    </bit-item>
  </bit-section>
</div>
