<form [formGroup]="formObj">
  <bit-dialog>
    <div bitDialogIcon>
      <i class="bwi bwi-shield bwi-3x" aria-hidden="true"></i>
    </div>
    <div bitDialogTitle>Set Logging Level</div>
    <div bitDialogContent>
      <bit-radio-group formControlName="radio" aria-label="Example radio group" [block]="true">
        <bit-radio-button id="radio-debug" [value]="LogLevelType.Debug">
          <bit-label>{{ "LogLevelDebug" | i18n }}</bit-label>
        </bit-radio-button>

        <bit-radio-button id="radio-info" [value]="LogLevelType.Info">
          <bit-label>{{ "LogLevelInfo" | i18n }}</bit-label>
        </bit-radio-button>

        <bit-radio-button id="radio-warn" [value]="LogLevelType.Warning">
          <bit-label>{{ "LogLevelWarning" | i18n }}</bit-label>
        </bit-radio-button>
        <bit-radio-button id="radio-error" [value]="LogLevelType.Error">
          <bit-label>{{ "LogLevelError" | i18n }}</bit-label>
        </bit-radio-button>
      </bit-radio-group>
    </div>
    <div bitDialogFooter>
      <button bitButton bitDialogClose buttonType="primary" type="button">
        {{ "close" | i18n }}
      </button>
    </div>
  </bit-dialog>
</form>
