<popup-page>
  <popup-header slot="header" pageTitle="{{ 'labsSettingsTitle' | i18n }}" showBackButton>
    <ng-container slot="end">
      <app-pop-out></app-pop-out>
    </ng-container>
  </popup-header>

  <div class="tw-bg-background-alt">
    <app-callout type="warning">
      {{ "labsSettingsWarning" | i18n }}
    </app-callout>
    <bit-section>
      <button type="button" buttonType="danger" bitButton block (click)="handleResetClick()">
        {{ "resetDisableLabsSettingsAction" | i18n }}
      </button>
    </bit-section>
    <bit-section>
      <bit-section-header>
        <h2 bitTypography="h6">{{ "userSettingsTitle" | i18n }}</h2>
      </bit-section-header>
      <bit-card>{{ "noUserSettings" | i18n }}</bit-card>
    </bit-section>
    <bit-section>
      <bit-section-header>
        <h2 bitTypography="h6">{{ "globalSettingsTitle" | i18n }}</h2>
      </bit-section-header>
      <bit-card>
        <bit-form-control *ngIf="false">
          <input
            bitCheckbox
            id="improvedFieldQualificationForInlineMenu"
            type="checkbox"
            (change)="updateImprovedFieldQualificationForInlineMenuEnabled()"
            [(ngModel)]="improvedFieldQualificationForInlineMenuEnabled"
          />
          <bit-label for="improvedFieldQualificationForInlineMenu">
            {{ "improvedFieldQualificationForInlineMenuSettingLabel" | i18n }}
          </bit-label>
        </bit-form-control>
        <bit-form-control *ngIf="false">
          <input
            bitCheckbox
            id="updateAdditionalInlineMenuCipherTypes"
            type="checkbox"
            (change)="updateAdditionalInlineMenuCipherTypesEnabled()"
            [(ngModel)]="additionalInlineMenuCipherTypesEnabled"
          />
          <bit-label for="updateAdditionalInlineMenuCipherTypes">
            {{ "updateAdditionalInlineMenuCipherTypesSettingLabel" | i18n }}
          </bit-label>
        </bit-form-control>
        <bit-form-control>
          <input
            bitCheckbox
            id="designRefresh"
            type="checkbox"
            (change)="updateDesignRefreshEnabled()"
            [(ngModel)]="designRefreshEnabled"
          />
          <bit-label for="designRefresh">{{ "designRefreshSettingLabel" | i18n }}</bit-label>
        </bit-form-control>
        <bit-form-control disableMargin>
          <input
            bitCheckbox
            id="notificationBarImprovements"
            type="checkbox"
            (change)="updateNotificationBarImprovementsEnabled()"
            [(ngModel)]="notificationBarImprovementsEnabled"
          />
          <bit-label for="notificationBarImprovements">
            {{ "notificationBarImprovementsSettingLabel" | i18n }}
          </bit-label>
        </bit-form-control>
      </bit-card>
    </bit-section>
  </div>
</popup-page>
