<popup-page>
  <popup-header slot="header" [pageTitle]="headerText" showBackButton>
    <ng-container slot="end">
      <span
        *ngIf="(userCanArchive$ | async) && cipher?.isArchived"
        bitBadge
        variant="secondary"
        [appA11yTitle]="'archived' | i18n"
      >
        {{ "archived" | i18n }}
      </span>
      <app-pop-out />
    </ng-container>
  </popup-header>

  <app-cipher-view *ngIf="cipher" [cipher]="cipher"></app-cipher-view>

  <popup-footer slot="footer" *ngIf="showFooter$ | async">
    <button
      *ngIf="!cipher.isDeleted"
      buttonType="primary"
      type="button"
      bitButton
      (click)="editCipher()"
    >
      {{ "edit" | i18n }}
    </button>

    <button
      *ngIf="cipher.isDeleted && cipher.permissions.restore"
      buttonType="primary"
      type="button"
      bitButton
      [bitAction]="restore"
    >
      {{ "restore" | i18n }}
    </button>

    <button
      slot="end"
      *ngIf="canDeleteCipher$ | async"
      [bitAction]="delete"
      type="button"
      buttonType="danger"
      bitIconButton="bwi-trash"
      [label]="(cipher.isDeleted ? 'deleteForever' : 'delete') | i18n"
    ></button>
  </popup-footer>
</popup-page>
