<popup-page>
  <popup-header slot="header" [pageTitle]="headerText" showBackButton>
    <ng-container slot="end">
      <button
        *ngIf="!(userCanArchive$ | async) && cipher?.isArchived"
        bitBadge
        type="button"
        variant="secondary"
      >
        {{ "archived" | i18n }}
      </button>
      <app-pop-out />
    </ng-container>
  </popup-header>

  <app-cipher-view *ngIf="cipher" [cipher]="cipher"></app-cipher-view>

  <popup-footer slot="footer" *ngIf="showFooter$ | async">
    <button
      *ngIf="!cipher.isDeleted"
      buttonType="primary"
      type="button"
      bitButton
      (click)="editCipher()"
    >
      {{ "edit" | i18n }}
    </button>

    <button
      *ngIf="cipher.isDeleted && cipher.permissions.restore"
      buttonType="primary"
      type="button"
      bitButton
      [bitAction]="restore"
    >
      {{ "restore" | i18n }}
    </button>

    <ng-container slot="end">
      <button
        type="button"
        *ngIf="userCanArchive$ | async"
        (click)="unarchive()"
        appA11yTitle="{{ 'unarchive' | i18n }}"
      >
        <i class="bwi bwi-unarchive bwi-lg bwi-fw" aria-hidden="true"></i>
      </button>
      <button
        *ngIf="canDeleteCipher$ | async"
        [bitAction]="delete"
        type="button"
        buttonType="danger"
        bitIconButton="bwi-trash"
        [label]="(cipher.isDeleted ? 'deleteForever' : 'delete') | i18n"
      ></button>
    </ng-container>
  </popup-footer>
</popup-page>
