<bit-dialog dialogSize="large" background="alt">
  <span bitDialogTitle>{{ "settingsTitle" | i18n: currentUserEmail }}</span>
  <ng-container bitDialogContent [formGroup]="form">
    <bit-section>
      <bit-section-header>
        <h2 bitTypography="h6">{{ "security" | i18n }}</h2>
      </bit-section-header>
      <bit-card>
        <bit-callout type="info" *ngIf="vaultTimeoutPolicyCallout | async as policy">
          <span *ngIf="policy.timeout && policy.action">
            {{
              "vaultTimeoutPolicyWithActionInEffect"
                | i18n
                  : policy.timeout.hours.toString()
                  : policy.timeout.minutes.toString()
                  : (policy.action | i18n)
            }}
          </span>
          <span *ngIf="policy.timeout && !policy.action">
            {{
              "vaultTimeoutPolicyInEffect"
                | i18n: policy.timeout.hours.toString() : policy.timeout.minutes.toString()
            }}
          </span>
          <span *ngIf="!policy.timeout && policy.action">
            {{ "vaultTimeoutActionPolicyInEffect" | i18n: (policy.action | i18n) }}
          </span>
        </bit-callout>

        <auth-vault-timeout-input
          [vaultTimeoutOptions]="vaultTimeoutOptions"
          [formControl]="form.controls.vaultTimeout"
          ngDefaultControl
        ></auth-vault-timeout-input>

        <bit-radio-group
          formControlName="vaultTimeoutAction"
          [block]="true"
          *ngIf="availableVaultTimeoutActions$ | async as availableVaultTimeoutActions"
        >
          <bit-label>{{ "vaultTimeoutAction" | i18n }}</bit-label>

          <bit-radio-button
            id="vaultTimeoutActionLock"
            [value]="VaultTimeoutAction.Lock"
            [disabled]="
              !availableVaultTimeoutActions.includes(VaultTimeoutAction.Lock) ? true : null
            "
          >
            <bit-label>{{ "lock" | i18n }}</bit-label>
            <bit-hint>{{ "vaultTimeoutActionLockDesc" | i18n }}</bit-hint>
          </bit-radio-button>

          <bit-radio-button
            id="vaultTimeoutActionLogOut"
            [value]="VaultTimeoutAction.LogOut"
            [disabled]="
              !availableVaultTimeoutActions.includes(VaultTimeoutAction.LogOut) ? true : null
            "
          >
            <bit-label> {{ "logOut" | i18n }}</bit-label>
            <bit-hint *ngIf="!availableVaultTimeoutActions.includes(VaultTimeoutAction.Lock)">
              {{ "vaultTimeoutActionLogOutDesc" | i18n }}
            </bit-hint>
          </bit-radio-button>

          <bit-hint *ngIf="!availableVaultTimeoutActions.includes(VaultTimeoutAction.Lock)">
            {{ "unlockMethodNeededToChangeTimeoutActionDesc" | i18n }}
          </bit-hint>
        </bit-radio-group>

        <bit-form-control *ngIf="(pinEnabled$ | async) || this.form.value.pin">
          <input bitCheckbox type="checkbox" formControlName="pin" />
          <bit-label>{{ "unlockWithPin" | i18n }}</bit-label>
        </bit-form-control>

        <bit-form-control *ngIf="supportsBiometric">
          <bit-label>{{ biometricText | i18n }}</bit-label>
          <input id="biometric" type="checkbox" formControlName="biometric" bitCheckbox />
          <bit-hint *ngIf="this.form.value.biometric && !this.isLinux">
            {{ additionalBiometricSettingsText | i18n }}
          </bit-hint>
        </bit-form-control>

        <bit-form-control
          *ngIf="supportsBiometric && this.form.value.biometric && !this.isLinux"
          class="tw-ml-4"
        >
          <input
            id="autoPromptBiometrics"
            type="checkbox"
            formControlName="autoPromptBiometrics"
            (change)="updateAutoPromptBiometrics()"
            bitCheckbox
          />
          <bit-label>{{ autoPromptBiometricsText | i18n }}</bit-label>
        </bit-form-control>

        <bit-form-control
          *ngIf="
            supportsBiometric &&
            this.form.value.biometric &&
            (userHasMasterPassword || (this.form.value.pin && userHasPinSet)) &&
            !this.isLinux
          "
          class="tw-ml-4"
        >
          <input
            id="requirePasswordOnStart"
            type="checkbox"
            formControlName="requirePasswordOnStart"
            (change)="updateRequirePasswordOnStart()"
            bitCheckbox
          />
          <bit-label>
            {{
              ((pinEnabled$ | async)
                ? "requirePasswordOnStart"
                : "requirePasswordWithoutPinOnStart"
              ) | i18n
            }}
          </bit-label>
          <bit-hint *ngIf="isWindows">{{ "recommendedForSecurity" | i18n }}</bit-hint>
        </bit-form-control>
      </bit-card>
    </bit-section>

    <bit-section>
      <bit-section-header>
        <h2 bitTypography="h6">{{ "accountPreferences" | i18n }}</h2>
      </bit-section-header>
      <bit-card>
        <bit-form-field>
          <bit-label>{{ "clearClipboard" | i18n }}</bit-label>
          <bit-select id="clearClipboard" formControlName="clearClipboard">
            <bit-option *ngFor="let o of clearClipboardOptions" [label]="o.name" [value]="o.value">
            </bit-option>
          </bit-select>
          <bit-hint>{{ "clearClipboardDesc" | i18n }}</bit-hint>
        </bit-form-field>

        <bit-form-control>
          <input
            id="minimizeOnCopyToClipboard"
            bitCheckbox
            type="checkbox"
            formControlName="minimizeOnCopyToClipboard"
            (change)="saveMinOnCopyToClipboard()"
          />
          <bit-label>{{ "minimizeOnCopyToClipboard" | i18n }}</bit-label>
          <bit-hint>{{ "minimizeOnCopyToClipboardDesc" | i18n }}</bit-hint>
        </bit-form-control>

        <bit-form-control>
          <input
            id="enableFavicons"
            bitCheckbox
            type="checkbox"
            formControlName="enableFavicons"
            (change)="saveFavicons()"
          />
          <bit-label>{{ "enableFavicon" | i18n }}</bit-label>
          <bit-hint>{{ "faviconDesc" | i18n }}</bit-hint>
        </bit-form-control>
      </bit-card>
    </bit-section>
    <bit-section>
      <bit-section-header>
        <h2 bitTypography="h6">{{ "appPreferences" | i18n }}</h2>
      </bit-section-header>
      <bit-card>
        <bit-form-control>
          <input
            id="enableTray"
            bitCheckbox
            type="checkbox"
            formControlName="enableTray"
            (change)="saveTray()"
          />
          <bit-label>{{ enableTrayText }}</bit-label>
          <bit-hint>{{ enableTrayDescText }}</bit-hint>
        </bit-form-control>

        <bit-form-control *ngIf="showMinToTray">
          <input
            id="enableMinToTray"
            bitCheckbox
            type="checkbox"
            formControlName="enableMinToTray"
            (change)="saveMinToTray()"
          />
          <bit-label>{{ enableMinToTrayText }}</bit-label>
          <bit-hint>{{ enableMinToTrayDescText }}</bit-hint>
        </bit-form-control>

        <bit-form-control>
          <input
            id="enableCloseToTray"
            bitCheckbox
            type="checkbox"
            formControlName="enableCloseToTray"
            (change)="saveCloseToTray()"
          />
          <bit-label>{{ enableCloseToTrayText }}</bit-label>
          <bit-hint>{{ enableCloseToTrayDescText }}</bit-hint>
        </bit-form-control>

        <bit-form-control>
          <input
            id="startToTray"
            bitCheckbox
            type="checkbox"
            formControlName="startToTray"
            (change)="saveStartToTray()"
          />
          <bit-label>{{ startToTrayText }}</bit-label>
          <bit-hint>{{ startToTrayDescText }}</bit-hint>
        </bit-form-control>

        <bit-form-control *ngIf="showOpenAtLoginOption">
          <input
            id="openAtLogin"
            bitCheckbox
            type="checkbox"
            formControlName="openAtLogin"
            (change)="saveOpenAtLogin()"
          />
          <bit-label>{{ "openAtLogin" | i18n }}</bit-label>
          <bit-hint>{{ "openAtLoginDesc" | i18n }}</bit-hint>
        </bit-form-control>

        <bit-form-control *ngIf="showAlwaysShowDock">
          <input
            id="alwaysShowDock"
            bitCheckbox
            type="checkbox"
            formControlName="alwaysShowDock"
            (change)="saveAlwaysShowDock()"
          />
          <bit-label>{{ "alwaysShowDock" | i18n }}</bit-label>
          <bit-hint>{{ "alwaysShowDockDesc" | i18n }}</bit-hint>
        </bit-form-control>

        <bit-form-control>
          <input
            id="enableBrowserIntegration"
            bitCheckbox
            type="checkbox"
            formControlName="enableBrowserIntegration"
            (change)="saveBrowserIntegration()"
          />
          <bit-label>{{ "enableBrowserIntegration" | i18n }}</bit-label>
          <bit-hint>{{ "enableBrowserIntegrationDesc1" | i18n }}</bit-hint>
        </bit-form-control>

        <bit-form-control>
          <input
            id="enableBrowserIntegrationFingerprint"
            bitCheckbox
            type="checkbox"
            formControlName="enableBrowserIntegrationFingerprint"
            (change)="saveBrowserIntegrationFingerprint()"
          />
          <bit-label>{{ "enableBrowserIntegrationFingerprint" | i18n }}</bit-label>
          <bit-hint>{{ "enableBrowserIntegrationFingerprintDesc" | i18n }}</bit-hint>
        </bit-form-control>

        <bit-form-control>
          <input
            id="enableHardwareAcceleration"
            bitCheckbox
            type="checkbox"
            formControlName="enableHardwareAcceleration"
            (change)="saveHardwareAcceleration()"
          />
          <bit-label>{{ "enableHardwareAcceleration" | i18n }}</bit-label>
          <bit-hint>{{ "enableHardwareAccelerationDesc" | i18n }}</bit-hint>
        </bit-form-control>

        <bit-form-control>
          <input
            id="allowScreenshots"
            bitCheckbox
            id="enableSshAgent"
            type="checkbox"
            formControlName="enableSshAgent"
            (change)="saveSshAgent()"
          />
          <bit-label>{{ "enableSshAgent" | i18n }}</bit-label>
          <bit-hint>{{ "enableSshAgentDesc" | i18n }}</bit-hint>
        </bit-form-control>

        <bit-form-field *ngIf="this.form.value.enableSshAgent">
          <bit-label>{{ "sshAgentPromptBehavior" | i18n }}</bit-label>
          <bit-select id="sshAgentPromptBehavior" formControlName="sshAgentPromptBehavior">
            <bit-option
              *ngFor="let o of sshAgentPromptBehaviorOptions"
              [label]="o.name"
              [value]="o.value"
            >
            </bit-option>
          </bit-select>
          <bit-hint>{{ "sshAgentPromptBehaviorDesc" | i18n }}</bit-hint>
        </bit-form-field>

        <bit-form-control>
          <input
            bitCheckbox
            type="checkbox"
            formControlName="allowScreenshots"
            (change)="savePreventScreenshots()"
          />
          <bit-label>{{ "allowScreenshots" | i18n }}</bit-label>
          <bit-hint>{{ "allowScreenshotsDesc" | i18n }}</bit-hint>
        </bit-form-control>

        <bit-form-control *ngIf="showDuckDuckGoIntegrationOption">
          <input
            id="enableDuckDuckGoBrowserIntegration"
            bitCheckbox
            type="checkbox"
            formControlName="enableDuckDuckGoBrowserIntegration"
            (change)="saveDdgBrowserIntegration()"
          />
          <bit-label>{{ "enableDuckDuckGoBrowserIntegration" | i18n }}</bit-label>
          <bit-hint>{{ "enableDuckDuckGoBrowserIntegrationDesc" | i18n }}</bit-hint>
        </bit-form-control>

        <bit-form-field>
          <bit-label>{{ "theme" | i18n }}</bit-label>
          <bit-select formControlName="theme" id="theme">
            <bit-option
              *ngFor="let o of themeOptions"
              [value]="o.value"
              [label]="o.name"
            ></bit-option>
          </bit-select>
          <bit-hint>{{ "themeDesc" | i18n }}</bit-hint>
        </bit-form-field>

        <bit-form-field>
          <bit-label>{{ "language" | i18n }} </bit-label>
          <bit-select formControlName="locale" id="locale">
            <bit-option
              *ngFor="let o of localeOptions"
              [value]="o.value"
              [label]="o.name"
            ></bit-option>
          </bit-select>
          <bit-hint>{{ "languageDesc" | i18n }}</bit-hint>
        </bit-form-field>
      </bit-card>
    </bit-section>
  </ng-container>
  <ng-container bitDialogFooter>
    <button bitButton type="button" buttonType="primary" bitDialogClose>
      {{ "close" | i18n }}
    </button>
  </ng-container>
</bit-dialog>
