<form [formGroup]="formGroup" [bitSubmit]="submit">
  <bit-dialog dialogSize="default" [loading]="loading">
    <span bitDialogTitle class="tw-font-semibold">
      {{ "subscribetoEnterprise" | i18n: currentPlanName }}
    </span>

    <div bitDialogContent>
      <p>{{ "subscribeEnterpriseSubtitle" | i18n: currentPlanName }}</p>

      <!-- Plan Features List -->
      <ng-container [ngSwitch]="currentPlan?.productTier">
        <ul class="bwi-ul tw-text-xs" *ngSwitchCase="productTypes.Enterprise">
          <li>
            <i class="bwi bwi-check tw-text-muted bwi-li" aria-hidden="true"></i>
            {{ "includeEnterprisePolicies" | i18n }}
          </li>
          <li>
            <i class="bwi bwi-check tw-text-muted bwi-li" aria-hidden="true"></i>
            {{ "passwordLessSso" | i18n }}
          </li>
          <li>
            <i class="bwi bwi-check tw-text-muted bwi-li" aria-hidden="true"></i>
            {{ "accountRecovery" | i18n }}
          </li>
          <li>
            <i class="bwi bwi-check tw-text-muted bwi-li" aria-hidden="true"></i>
            {{ "customRoles" | i18n }}
          </li>
          <li *ngIf="hasSecretsManager()">
            <i class="bwi bwi-check tw-text-muted bwi-li" aria-hidden="true"></i>
            {{ "unlimitedSecretsAndProjects" | i18n }}
          </li>
        </ul>

        <ul class="bwi-ul tw-text-xs" *ngSwitchCase="productTypes.Teams">
          <li>
            <i class="bwi bwi-check tw-text-muted bwi-li" aria-hidden="true"></i>
            {{ "secureDataSharing" | i18n }}
          </li>
          <li>
            <i class="bwi bwi-check tw-text-muted bwi-li" aria-hidden="true"></i>
            {{ "eventLogMonitoring" | i18n }}
          </li>
          <li>
            <i class="bwi bwi-check tw-text-muted bwi-li" aria-hidden="true"></i>
            {{ "directoryIntegration" | i18n }}
          </li>
          <li *ngIf="hasSecretsManager()">
            <i class="bwi bwi-check tw-text-muted bwi-li" aria-hidden="true"></i>
            {{ "unlimitedSecretsAndProjects" | i18n }}
          </li>
        </ul>

        <ul class="bwi-ul tw-text-xs" *ngSwitchCase="productTypes.Families">
          <li>
            <i class="bwi bwi-check tw-text-muted bwi-li" aria-hidden="true"></i>
            {{ "premiumAccounts" | i18n }}
          </li>
          <li>
            <i class="bwi bwi-check tw-text-muted bwi-li" aria-hidden="true"></i>
            {{ "unlimitedSharing" | i18n }}
          </li>
          <li>
            <i class="bwi bwi-check tw-text-muted bwi-li" aria-hidden="true"></i>
            {{ "createUnlimitedCollections" | i18n }}
          </li>
        </ul>
      </ng-container>

      <!-- Plan Selection -->
      <div *ngIf="!isFamily()">
        <div class="tw-mb-3 tw-flex tw-justify-between">
          <h4 class="tw-text-lg tw-text-main">{{ "selectAPlan" | i18n }}</h4>
        </div>

        <ng-container *ngIf="!loading && !selfHosted && passwordManagerPlans">
          <div
            class="tw-grid tw-grid-flow-col tw-gap-4 tw-mb-2"
            [class]="'tw-grid-cols-' + selectablePlans.length"
          >
            @for (plan of selectablePlans; let i = $index; track plan.type) {
              <bit-card
                [ngClass]="getPlanCardContainerClasses(plan, i)"
                (click)="selectPlan(plan)"
                [attr.tabindex]="focusedIndex !== i || isCardDisabled(i) ? '-1' : '0'"
                (keyup)="onKeydown($event, i)"
                (focus)="onFocus(i)"
                [attr.aria-disabled]="isCardDisabled(i)"
                [id]="i + 'a_plan_card'"
              >
                <div class="tw-relative">
                  @if (plan.isAnnual) {
                    <div
                      class="tw-bg-secondary-100 tw-text-center !tw-border-0 tw-text-sm tw-font-bold tw-py-1"
                      [ngClass]="{
                        'tw-bg-primary-700 !tw-text-contrast': plan === selectedPlan,
                        'tw-bg-secondary-100': !(plan === selectedPlan),
                      }"
                    >
                      {{ "recommended" | i18n }}
                    </div>
                  }
                  <div
                    class="tw-px-2 tw-pb-[4px]"
                    [ngClass]="{
                      'tw-py-1': !(plan === selectedPlan),
                      'tw-py-0': plan === selectedPlan,
                    }"
                  >
                    <h3
                      class="tw-text-[1.25rem] tw-mt-[6px] tw-font-bold tw-mb-0 tw-leading-[2rem] tw-flex tw-items-center"
                    >
                      <span class="tw-capitalize tw-whitespace-nowrap">{{
                        plan.isAnnual ? "Annually" : "Monthly"
                      }}</span>
                      <!-- Discount Badge -->
                      <span
                        class="tw-mr-1 tw-ml-2"
                        *ngIf="plan.isAnnual"
                        bitBadge
                        variant="success"
                        >{{
                          "upgradeDiscount"
                            | i18n
                              : (selectedInterval === planIntervals.Annually &&
                                discountPercentageFromSub == 0
                                  ? this.discountPercentage
                                  : this.discountPercentageFromSub)
                        }}</span
                      >
                    </h3>
                    <span *ngIf="selectedPlan.productTier != productTypes.Free">
                      <ng-container
                        *ngIf="selectedPlan.PasswordManager.basePrice && !acceptingSponsorship"
                      >
                        <b class="tw-text-lg tw-font-semibold">
                          {{
                            (selectedPlan.isAnnual
                              ? selectedPlan.PasswordManager.basePrice / 12
                              : selectedPlan.PasswordManager.basePrice
                            ) | currency: "$"
                          }}
                        </b>
                        <b class="tw-text-sm tw-font-semibold">
                          <ng-container
                            *ngIf="selectedPlan.PasswordManager.hasAdditionalSeatsOption"
                          >
                            {{ ("additionalUsers" | i18n).toLowerCase() }}
                            {{
                              (selectedPlan.isAnnual
                                ? selectedPlan.PasswordManager.seatPrice / 12
                                : selectedPlan.PasswordManager.seatPrice
                              ) | currency: "$"
                            }}
                            /{{ selectedPlanInterval | i18n }}
                          </ng-container>
                        </b>
                      </ng-container>
                    </span>
                    <span
                      *ngIf="
                        !selectedPlan.PasswordManager.basePrice &&
                        selectedPlan.PasswordManager.hasAdditionalSeatsOption
                      "
                    >
                      <b class="tw-text-lg tw-font-semibold"
                        >{{
                          "costPerMember"
                            | i18n
                              : (((this.sub.useSecretsManager
                                  ? selectedPlan.SecretsManager.seatPrice
                                  : 0) +
                                  selectedPlan.PasswordManager.seatPrice) /
                                  (selectedPlan.isAnnual ? 12 : 1)
                                  | currency: "$")
                        }}
                      </b>
                      <span class="tw-text-xs tw-px-0"> /{{ "monthPerMember" | i18n }}</span>
                    </span>
                    <span *ngIf="selectedPlan.productTier == productTypes.Free"
                      >{{ "freeForever" | i18n }}
                    </span>
                  </div>
                </div>
              </bit-card>
            }
          </div>
        </ng-container>
      </div>

      <!-- Payment Information -->
      <ng-container>
        <h2 bitTypography="h4">{{ "paymentMethod" | i18n }}</h2>
        <ng-container bitDialogContent>
          <app-payment
            [showAccountCredit]="false"
            [showBankAccount]="!!organizationId || !!providerId"
            [initialPaymentMethod]="initialPaymentMethod"
          ></app-payment>
          <app-manage-tax-information
            *ngIf="taxInformation"
            [showTaxIdField]="showTaxIdField"
            [startWith]="taxInformation"
            (taxInformationChanged)="taxInformationChanged($event)"
          />
        </ng-container>

        <!-- Cost Breakdown -->
        <!-- Password Manager + Secrets Manager Cost Summary -->
        <div *ngIf="!isSecretsManagerTrial()" class="tw-flex tw-flex-wrap tw-gap-4">
          <bit-hint
            class="tw-w-[55%] !tw-text-main"
            *ngIf="selectedInterval == planIntervals.Annually"
          >
            <app-cost-summary
              [organization]="organization"
              [sub]="sub"
              [selectedPlan]="selectedPlan"
              [selectedInterval]="selectedInterval"
              [discountPercentageFromSub]="discountPercentageFromSub"
              [discountPercentage]="discountPercentage"
              [acceptingSponsorship]="acceptingSponsorship"
              [additionalServiceAccount]="additionalServiceAccount"
              [planIntervals]="planIntervals"
              [storageGb]="storageGb"
              [totalOpened]="totalOpened"
              [isSecretsManagerTrial]="isSecretsManagerTrial()"
              [estimatedTax]="estimatedTax"
            ></app-cost-summary>
          </bit-hint>
          <bit-hint
            class="tw-w-[55%] !tw-text-main"
            *ngIf="selectedInterval == planIntervals.Monthly"
          >
            <app-cost-summary
              [organization]="organization"
              [sub]="sub"
              [selectedPlan]="selectedPlan"
              [selectedInterval]="selectedInterval"
              [discountPercentageFromSub]="discountPercentageFromSub"
              [discountPercentage]="discountPercentage"
              [acceptingSponsorship]="acceptingSponsorship"
              [additionalServiceAccount]="additionalServiceAccount"
              [planIntervals]="planIntervals"
              [totalOpened]="totalOpened"
              [storageGb]="storageGb"
              [isSecretsManagerTrial]="isSecretsManagerTrial()"
              [estimatedTax]="estimatedTax"
            ></app-cost-summary>
          </bit-hint>
        </div>

        <!-- Secrets Manager + Free PM Cost Summary -->
        <div *ngIf="isSecretsManagerTrial()" class="tw-flex tw-flex-wrap tw-gap-4">
          <bit-hint
            class="tw-w-[55%] !tw-text-main"
            *ngIf="selectedInterval == planIntervals.Annually"
          >
            <app-cost-summary
              [organization]="organization"
              [sub]="sub"
              [selectedPlan]="selectedPlan"
              [selectedInterval]="selectedInterval"
              [discountPercentageFromSub]="discountPercentageFromSub"
              [discountPercentage]="discountPercentage"
              [acceptingSponsorship]="acceptingSponsorship"
              [additionalServiceAccount]="additionalServiceAccount"
              [planIntervals]="planIntervals"
              [totalOpened]="totalOpened"
              [storageGb]="storageGb"
              [isSecretsManagerTrial]="isSecretsManagerTrial()"
              [estimatedTax]="estimatedTax"
            ></app-cost-summary>
          </bit-hint>
          <bit-hint
            class="tw-w-[55%] tw-text-main"
            *ngIf="selectedInterval == planIntervals.Monthly"
          >
            <app-cost-summary
              [organization]="organization"
              [sub]="sub"
              [selectedPlan]="selectedPlan"
              [selectedInterval]="selectedInterval"
              [discountPercentageFromSub]="discountPercentageFromSub"
              [discountPercentage]="discountPercentage"
              [acceptingSponsorship]="acceptingSponsorship"
              [additionalServiceAccount]="additionalServiceAccount"
              [planIntervals]="planIntervals"
              [totalOpened]="totalOpened"
              [storageGb]="storageGb"
              [isSecretsManagerTrial]="isSecretsManagerTrial()"
              [estimatedTax]="estimatedTax"
            ></app-cost-summary>
          </bit-hint>
        </div>
      </ng-container>
    </div>
    <!-- Dialog Footer -->
    <ng-container bitDialogFooter>
      <button bitButton bitFormButton buttonType="primary" type="submit">
        {{ "subscribe" | i18n }}
      </button>
      <button bitButton buttonType="secondary" type="button" [bitDialogClose]="ResultType.CLOSED">
        {{ "later" | i18n }}
      </button>
    </ng-container>
  </bit-dialog>
</form>
