<bit-dialog>
  <span bitDialogTitle>{{ "confirmAutofill" | i18n }}</span>
  <div bitDialogContent>
    <p bitTypography="body2">
      {{ "confirmAutofillDesc" | i18n }}
    </p>
    @if (savedUrls.length === 1) {
      <p class="tw-text-muted tw-text-xs tw-uppercase tw-mt-4 tw-font-semibold">
        {{ "savedWebsite" | i18n }}
      </p>
      <bit-callout title="" type="success" icon="bwi-globe" truncate>{{
        savedUrls[0]
      }}</bit-callout>
    }
    @if (savedUrls.length > 1) {
      <div class="tw-flex tw-justify-between tw-items-center tw-mt-4 tw-mb-1 tw-pt-2">
        <span class="tw-text-muted tw-text-xs tw-uppercase tw-font-semibold">
          {{ "savedWebsites" | i18n: count : savedUrls.length }}
        </span>
        <button
          type="button"
          bitLink
          class="tw-text-sm tw-font-bold tw-cursor-pointer"
          (click)="viewAllSavedUrls()"
        >
          {{ "viewAll" | i18n }}
        </button>
      </div>
      <div class="tw-pt-2" [ngClass]="savedUrlsListClass">
        <div class="-tw-mt-2" *ngFor="let url of savedUrls">
          <bit-callout title="" type="success" icon="bwi-globe" truncate>
            <div class="monospaced">
              {{ url }}
            </div>
          </bit-callout>
        </div>
      </div>
    }
    <p class="tw-text-muted tw-text-xs tw-uppercase tw-mt-4 tw-font-semibold">
      {{ "currentWebsite" | i18n }}
    </p>
    <bit-callout title="" type="warning" icon="bwi-globe" class="tw-mb-2" [truncate]="true">
      <div class="monospaced">{{ currentUrl }}</div>
    </bit-callout>
    <div class="tw-flex tw-my-6">
      <a
        bitLink
        class="!tw-text-muted tw-flex"
        target="_blank"
        rel="noreferrer"
        href="TODO: Add phishing link"
      >
        <i class="bwi bwi-sm bwi-question-circle tw-mr-2"></i>
        <p class="tw-text-xs">
          {{ "howDoesBitwardenProtectFromPhishing" | i18n }}
        </p>
      </a>
    </div>
    <div class="tw-flex tw-justify-center tw-flex-col tw-gap-3">
      <button type="button" bitButton buttonType="primary" (click)="autofillAndAddUrl()">
        {{ "autofillAndAddWebsite" | i18n }}
      </button>
      <button type="button" bitButton buttonType="secondary" (click)="autofillOnly()">
        {{ "autofillWithoutAdding" | i18n }}
      </button>
      <button
        type="button"
        bitLink
        linkType="secondary"
        (click)="close()"
        class="tw-mt-2 tw-font-bold tw-text-sm tw-justify-center tw-text-center"
      >
        {{ "doNotAutofill" | i18n }}
      </button>
    </div>
  </div>
</bit-dialog>
