<bit-section
  *ngIf="cipherGroups$().length > 0 || description"
  [disableMargin]="disableSectionMargin"
>
  <ng-container *ngIf="collapsibleKey">
    <button
      class="tw-group/vault-section-header hover:tw-bg-primary-100 tw-rounded-md tw-pl-1 tw-w-full tw-border-x-0 tw-border-t-0 tw-border-b tw-border-solid focus-visible:tw-outline-none focus-visible:tw-ring-inset focus-visible:tw-ring-2 focus-visible:tw-ring-primary-600"
      [ngClass]="{
        'tw-border-b-secondary-300 tw-rounded-b-none [&:is(:hover,:focus-visible)]:tw-border-b-transparent [&:is(:hover,:focus-visible)]:tw-rounded-b-md':
          !sectionOpenState(),
        'tw-border-b-transparent': sectionOpenState(),
      }"
      type="button"
      [bitDisclosureTriggerFor]="disclosureRef"
      (click)="toggleSectionOpen()"
    >
      <ng-container *ngTemplateOutlet="sectionHeader"></ng-container>
    </button>
    <ng-container *ngTemplateOutlet="descriptionText"></ng-container>
    <bit-disclosure #disclosureRef [open]="sectionOpenState()" (openChange)="rerenderViewport()">
      <ng-container *ngTemplateOutlet="itemGroup"></ng-container>
    </bit-disclosure>
  </ng-container>

  <ng-container *ngIf="!collapsibleKey">
    <div class="tw-pl-1">
      <ng-container *ngTemplateOutlet="sectionHeader"></ng-container>
    </div>
    <ng-container *ngTemplateOutlet="descriptionText"></ng-container>
    <ng-container *ngTemplateOutlet="itemGroup"></ng-container>
  </ng-container>
</bit-section>

<ng-template #sectionHeader>
  <bit-section-header class="tw-p-0.5 -tw-mx-0.5">
    <h2 bitTypography="h6">foobar</h2>
    <button
      *ngIf="showRefresh"
      bitIconButton="bwi-refresh"
      type="button"
      size="small"
      (click)="onRefresh.emit()"
      [appA11yTitle]="'refresh' | i18n"
    ></button>
    <span bitTypography="body2" slot="end">
      <span
        [ngClass]="{
          'group-hover/vault-section-header:tw-hidden group-focus-visible/vault-section-header:tw-hidden':
            collapsibleKey && sectionOpenState(),
          'tw-hidden': collapsibleKey && !sectionOpenState(),
        }"
      >
        {{ ciphers().length }}
      </span>
      <span class="tw-pr-1" *ngIf="collapsibleKey">
        <i
          class="bwi tw-text-main"
          [ngClass]="{
            'bwi-angle-down tw-inline-block': !sectionOpenState(),
            'bwi-angle-up tw-hidden group-hover/vault-section-header:tw-inline-block group-focus-visible/vault-section-header:tw-inline-block':
              sectionOpenState(),
          }"
          aria-hidden="true"
        ></i>
      </span>
    </span>
  </bit-section-header>
</ng-template>

<ng-template #descriptionText>
  <div
    *ngIf="description"
    class="tw-text-muted tw-px-1 tw-mb-2"
    [ngClass]="{ '!tw-mb-0': disableDescriptionMargin }"
    bitTypography="body2"
  >
    {{ description }}
  </div>
</ng-template>

<ng-template #itemGroup>
  <ng-container *ngFor="let group of cipherGroups$()">
    <ng-container *ngIf="group.subHeaderKey">
      <h3 class="tw-text-muted tw-text-xs tw-font-semibold tw-pl-1 tw-mb-1 bit-compact:tw-m-0">
        {{ group.subHeaderKey | i18n }}
      </h3>
    </ng-container>

    <cdk-virtual-scroll-viewport [itemSize]="itemHeight$ | async" bitScrollLayout>
      <bit-item-group (bitFocusVisibleWithin)="handleItemGroupFocusVisibleWithin()">
        <bit-item *cdkVirtualFor="let cipher of group.ciphers">
          <button
            bit-item-content
            type="button"
            (click)="primaryActionOnSelect(cipher)"
            (dblclick)="launchCipher(cipher)"
            [appA11yTitle]="
              cipherItemTitleKey(cipher) | async | i18n: cipher.name : cipher.login.username
            "
            class="{{ itemHeightClass }}"
          >
            <div slot="start" class="tw-justify-start tw-w-7 tw-flex">
              <app-vault-icon [cipher]="cipher"></app-vault-icon>
            </div>
            <span data-testid="item-name">{{ cipher.name }}</span>
            <i
              *ngIf="cipher.organizationId"
              slot="default-trailing"
              appOrgIcon
              [tierType]="cipher.organization.productTierType"
              [size]="'small'"
              [appA11yTitle]="orgIconTooltip(cipher)"
            ></i>
            <i
              *ngIf="cipher.hasAttachments"
              class="bwi bwi-paperclip bwi-sm"
              [appA11yTitle]="'attachments' | i18n"
            ></i>
            <span slot="secondary">{{ cipher.subTitle }}</span>
          </button>

          <ng-container slot="end">
            <bit-item-action *ngIf="!(hideAutofillButton$ | async)">
              <button
                type="button"
                bitBadge
                variant="primary"
                (click)="doAutofill(cipher)"
                [title]="autofillShortcutTooltip() ?? ('autofillTitle' | i18n: cipher.name)"
                [attr.aria-label]="'autofillTitle' | i18n: cipher.name"
              >
                {{ "fill" | i18n }}
              </button>
            </bit-item-action>
            <bit-item-action *ngIf="!showAutofillButton && cipher.canLaunch">
              <button
                type="button"
                bitIconButton="bwi-external-link"
                size="small"
                (click)="launchCipher(cipher)"
                [attr.aria-label]="'launchWebsiteName' | i18n: cipher.name"
                [title]="'launchWebsiteName' | i18n: cipher.name"
              ></button>
            </bit-item-action>

            @let cbv = copyButtonsService.toCopyButtonsView(cipher);
            <ng-container *ngIf="cipher.type === CipherType.Login">
              <ng-container
                *ngIf="copyButtonsService.showQuickCopyActions$ | async; else loginCopyMenu"
              >
                <bit-item-action>
                  <button
                    type="button"
                    bitIconButton="bwi-user"
                    size="small"
                    appCopyField="username"
                    [cipher]="cipher"
                    [appA11yTitle]="'copyUsername' | i18n"
                  ></button>
                </bit-item-action>
                <bit-item-action>
                  <button
                    *ngIf="cipher.viewPassword"
                    type="button"
                    bitIconButton="bwi-key"
                    size="small"
                    appCopyField="password"
                    [cipher]="cipher"
                    [appA11yTitle]="'copyPassword' | i18n"
                  ></button>
                </bit-item-action>
                <bit-item-action>
                  <button
                    type="button"
                    bitIconButton="bwi-clock"
                    size="small"
                    appCopyField="totp"
                    [cipher]="cipher"
                    [appA11yTitle]="'copyVerificationCode' | i18n"
                  ></button>
                </bit-item-action>
              </ng-container>

              <ng-template #loginCopyMenu>
                <bit-item-action>
                  <button
                    *ngIf="cbv.singleCopiableLogin"
                    type="button"
                    bitIconButton="bwi-clone"
                    size="small"
                    [appA11yTitle]="cbv.singleCopiableLogin.key"
                    [appCopyField]="$any(cbv.singleCopiableLogin.field)"
                    [cipher]="cipher"
                  ></button>
                  <ng-container *ngIf="!cbv.singleCopiableLogin">
                    <button
                      type="button"
                      bitIconButton="bwi-clone"
                      size="small"
                      [appA11yTitle]="
                        cbv.hasLoginValues
                          ? ('copyInfoTitle' | i18n: cipher.name)
                          : ('noValuesToCopy' | i18n)
                      "
                      [disabled]="!cbv.hasLoginValues"
                      [bitMenuTriggerFor]="loginOptions"
                    ></button>
                    <bit-menu #loginOptions>
                      <button type="button" bitMenuItem appCopyField="username" [cipher]="cipher">
                        {{ "copyUsername" | i18n }}
                      </button>
                      <button
                        *ngIf="cipher.viewPassword"
                        type="button"
                        bitMenuItem
                        appCopyField="password"
                        [cipher]="cipher"
                      >
                        {{ "copyPassword" | i18n }}
                      </button>
                      <button type="button" bitMenuItem appCopyField="totp" [cipher]="cipher">
                        {{ "copyVerificationCode" | i18n }}
                      </button>
                    </bit-menu>
                  </ng-container>
                </bit-item-action>
              </ng-template>
            </ng-container>

            <ng-container *ngIf="cipher.type === CipherType.Card">
              <ng-container
                *ngIf="copyButtonsService.showQuickCopyActions$ | async; else cardCopyMenu"
              >
                <bit-item-action>
                  <button
                    type="button"
                    bitIconButton="bwi-hashtag"
                    size="small"
                    appCopyField="cardNumber"
                    [cipher]="cipher"
                    [appA11yTitle]="'copyNumber' | i18n"
                  ></button>
                </bit-item-action>
                <bit-item-action>
                  <button
                    type="button"
                    bitIconButton="bwi-key"
                    size="small"
                    appCopyField="securityCode"
                    [cipher]="cipher"
                    [appA11yTitle]="'copySecurityCode' | i18n"
                  ></button>
                </bit-item-action>
              </ng-container>
              <ng-template #cardCopyMenu>
                <bit-item-action>
                  <button
                    *ngIf="cbv.singleCopiableCard"
                    type="button"
                    bitIconButton="bwi-clone"
                    size="small"
                    [appA11yTitle]="
                      'copyFieldValue'
                        | i18n: cbv.singleCopiableCard.key : cbv.singleCopiableCard.value
                    "
                    [appCopyClick]="cbv.singleCopiableCard.value"
                    [valueLabel]="cbv.singleCopiableCard.key"
                    showToast
                  ></button>
                  <ng-container *ngIf="!cbv.singleCopiableCard">
                    <button
                      type="button"
                      bitIconButton="bwi-clone"
                      size="small"
                      [appA11yTitle]="
                        cbv.hasCardValues
                          ? ('copyInfoTitle' | i18n: cipher.name)
                          : ('noValuesToCopy' | i18n)
                      "
                      [disabled]="!cbv.hasCardValues"
                      [bitMenuTriggerFor]="cardOptions"
                    ></button>
                    <bit-menu #cardOptions>
                      <button type="button" bitMenuItem appCopyField="cardNumber" [cipher]="cipher">
                        {{ "copyNumber" | i18n }}
                      </button>
                      <button
                        type="button"
                        bitMenuItem
                        appCopyField="securityCode"
                        [cipher]="cipher"
                      >
                        {{ "copySecurityCode" | i18n }}
                      </button>
                    </bit-menu>
                  </ng-container>
                </bit-item-action>
              </ng-template>
            </ng-container>

            <bit-item-action *ngIf="cipher.type === CipherType.Identity">
              <button
                *ngIf="cbv.singleCopiableIdentity"
                type="button"
                bitIconButton="bwi-clone"
                size="small"
                [appA11yTitle]="
                  'copyFieldValue'
                    | i18n: cbv.singleCopiableIdentity.key : cbv.singleCopiableIdentity.value
                "
                [appCopyClick]="cbv.singleCopiableIdentity.value"
                [valueLabel]="cbv.singleCopiableIdentity.key"
                showToast
              ></button>
              <ng-container *ngIf="!cbv.singleCopiableIdentity">
                <button
                  type="button"
                  bitIconButton="bwi-clone"
                  size="small"
                  [appA11yTitle]="
                    cbv.hasIdentityValues
                      ? ('copyInfoTitle' | i18n: cipher.name)
                      : ('noValuesToCopy' | i18n)
                  "
                  [disabled]="!cbv.hasIdentityValues"
                  [bitMenuTriggerFor]="identityOptions"
                ></button>
                <bit-menu #identityOptions>
                  <button type="button" bitMenuItem appCopyField="username" [cipher]="cipher">
                    {{ "copyUsername" | i18n }}
                  </button>
                  <button type="button" bitMenuItem appCopyField="email" [cipher]="cipher">
                    {{ "copyEmail" | i18n }}
                  </button>
                  <button type="button" bitMenuItem appCopyField="phone" [cipher]="cipher">
                    {{ "copyPhone" | i18n }}
                  </button>
                  <button type="button" bitMenuItem appCopyField="address" [cipher]="cipher">
                    {{ "copyAddress" | i18n }}
                  </button>
                </bit-menu>
              </ng-container>
            </bit-item-action>

            <bit-item-action *ngIf="cipher.type === CipherType.SecureNote">
              <button
                type="button"
                bitIconButton="bwi-clone"
                size="small"
                [appA11yTitle]="
                  cbv.hasSecureNoteValue
                    ? ('copyNoteTitle' | i18n: cipher.name)
                    : ('noValuesToCopy' | i18n)
                "
                appCopyField="secureNote"
                [cipher]="cipher"
              ></button>
            </bit-item-action>

            <bit-item-action *ngIf="cipher.type === CipherType.SshKey">
              <button
                type="button"
                bitIconButton="bwi-clone"
                size="small"
                [appA11yTitle]="
                  cbv.hasSshKeyValues
                    ? ('copyInfoTitle' | i18n: cipher.name)
                    : ('noValuesToCopy' | i18n)
                "
                [disabled]="!cbv.hasSshKeyValues"
                [bitMenuTriggerFor]="sshKeyOptions"
              ></button>
              <bit-menu #sshKeyOptions>
                <button type="button" bitMenuItem appCopyField="privateKey" [cipher]="cipher">
                  {{ "copyPrivateKey" | i18n }}
                </button>
                <button type="button" bitMenuItem appCopyField="publicKey" [cipher]="cipher">
                  {{ "copyPublicKey" | i18n }}
                </button>
                <button type="button" bitMenuItem appCopyField="keyFingerprint" [cipher]="cipher">
                  {{ "copyFingerprint" | i18n }}
                </button>
              </bit-menu>
            </bit-item-action>

            <!-- <app-item-copy-actions [cipher]="cipher"></app-item-copy-actions> -->
            <bit-item-action>
              <app-item-more-options
                [cipher]="cipher"
                [hideAutofillOptions]="hideAutofillOptions$ | async"
                [showViewOption]="primaryActionAutofill"
              ></app-item-more-options>
            </bit-item-action>
          </ng-container>
        </bit-item>
      </bit-item-group>
    </cdk-virtual-scroll-viewport>
  </ng-container>
</ng-template>
