<bit-dialog [title]="'recoverAccount' | i18n" [subtitle]="dialogData.name">
  <ng-container bitDialogContent>
    <bit-callout type="warning"
      >{{ "resetPasswordLoggedOutWarning" | i18n: loggedOutWarningName }}
    </bit-callout>

    <auth-input-password
      [flow]="inputPasswordFlow"
      [message]="'resetPasswordMasterPasswordPolicyInEffect'"
      [masterPasswordPolicyOptions]="masterPasswordPolicyOptions$ | async"
      (onPasswordFormSubmit)="handlePasswordFormSubmit($event)"
    ></auth-input-password>
  </ng-container>

  <ng-container bitDialogFooter>
    <button
      class="tw-relative"
      type="button"
      bitButton
      buttonType="primary"
      [disabled]="submitting"
      (click)="handlePrimaryButtonClick()"
    >
      <span
        [ngClass]="{ 'tw-invisible': !submitting }"
        class="tw-absolute tw-inset-0 tw-flex tw-items-center tw-justify-center"
      >
        <i class="bwi bwi-spinner bwi-lg bwi-spin" aria-hidden="true"></i>
      </span>
      <span [ngClass]="{ 'tw-invisible': submitting }">
        {{ "save" | i18n }}
      </span>
    </button>
    <button type="button" bitButton buttonType="secondary" bitDialogClose>
      {{ "cancel" | i18n }}
    </button>
  </ng-container>
</bit-dialog>
